# backend - API server
fastapi
uvicorn[standard]

# postgres, password hashing
psycopg[binary]
bcrypt

# scraping, HTTP requests
beautifulsoup4
requests
httpx

# AI / RAG
python-dotenv
huggingface_hub
sentence-transformers
faiss-cpu
